doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/style.css')
    // Link to Google Fonts for Inter, similar to HubSpot's font
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap', rel='stylesheet')
  body
    .container
      h1= title
      p
        a(href='/') Return to the homepage

      form(action='/update-cobj', method='POST')
        fieldset
          legend Create New Custom Object Record
          div.form-group
            label(for='name') Name (e.g., Title):
            input(type='text', id='name', name='name', required)
          div.form-group
            label(for='author') Author:
            input(type='text', id='author', name='author')
          div.form-group
            label(for='genre') Genre:
            input(type='text', id='genre', name='genre')
          div.form-group
            label(for='publication_date') Publication Date:
            input(type='date', id='publication_date', name='publication_date')

          button(type='submit') Create Record
